github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxOptional"
github "SnapKit/SnapKit"
github "Swinject/Swinject"
github "Swinject/SwinjectAutoregistration"
github "RxSwiftCommunity/RxAlamofire"
github "Brightify/Cuckoo"