OTHER_SWIFT_FLAGS = "-D" "DEBUG" "-D" "STUB" -Xfrontend -warn-long-function-bodies=1000
CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM = WLN29ZWFG6
PROVISIONING_PROFILE_SPECIFIER = match Development *
PRODUCT_BUNDLE_IDENTIFIER = tech.watanave.HiraganaTranslator.stub

// https://github.com/gali8/Tesseract-OCR-iOS/issues/406
// ランタイムエラー対策
OTHER_LDFLAGS = -all_load
